<ion-header>
  <ion-buttons slot="start">
    <ion-back-button [text]="''"></ion-back-button>
  </ion-buttons>
  <ion-toolbar color="success">
    <ion-title class="tittleNav">
      Eco Monedas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="containerCoin">
    <ion-row>
      <ion-col class="ion-float-left">
        <div class="containerEcomoneda">
          <img src="../../assets/coin2.png">
          <label>Ecomoneda</label>
        </div>

      </ion-col>
      <ion-col class="ion-float-right">
        <div class="labelEcomonedas">
          {{ecomonedas|currency}}
        </div>

      </ion-col>
    </ion-row>
  </div>
  <div class="containerFondo">
    <img src="../../assets/background_mountain.png  ">
  </div>


</ion-content>