<div class="contenedorInicio">
  <ion-grid>
    <ion-row class="containerLogo">
      <img src="../../assets/logo.png">
    </ion-row>
    <ion-row class="containerBotones">
      <ion-col size="12">
        <ion-button color="light" expand="block" shape="round" (click)="goToLogin()">
          <ion-icon slot="start" name="mail"></ion-icon>
          <ion-label>
            Ingresar con Email
          </ion-label>
        </ion-button>
      </ion-col>
      <ion-col size="12">
        <ion-button color="light" expand="block" shape="round">
          <ion-icon slot="start" name="logo-facebook"></ion-icon>
          <ion-label>
            Ingresar con Facebook
          </ion-label>
        </ion-button>
      </ion-col>
      <ion-col size="12">
        <ion-button color="light" expand="block" shape="round">
          <ion-icon slot="start" name="logo-google"></ion-icon>
          <ion-label>
            Ingresar con Gmail
          </ion-label>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>