.contenedorInicio {
  background: rgb(36, 172, 87);
  background: radial-gradient(circle, rgba(36, 172, 87, 1) 0%, #094a48 80%);
  height: 100%;
  width: 100%;
}
.containerBotones {
  bottom: 0rem;
  position: absolute;
  width: 100%;
  padding: 7%;
}
.containerLogo {
  padding: 20%;
}
